body {
  background-color: #ab97c0 ;
  font-family: Georgia, serif;
}
h1{
  color: #fcf9ff;
}
p {
  color: #ebe0f7;
  padding-left: 20px;
}
a{
  color: #362646;
  text-decoration: none;
}
a:hover {
  color: #573f70;
}
