div {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: relative;
  animation-name: my-animation;
  animation-duration: 7s;
}

/* Standard syntax */
@keyframes my-animation {
  0%   {left:0px; top:700px;}
  25%  {left:0px; top:0px;}
  50%  {left:450px; top:350px;}
  75%  {left:900px; top:0px;}
  100% {background-color:yellow; left:900px; top:700px;}
}
