body {
  background-color: DarkTurquoise ;
  font-family: Georgia, serif;
}
h1{
  color: Blue;
}
p {
  color: Teal;
  padding-left: 20px;
}
a{
  color: MidnightBlue;
  text-decoration: none;
}
a:hover {
  color: DarkOrange;
}
